.login-area {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 99;
    padding: 0 15px;
}

.login-box {
    max-width: 380px;
    background: #fff;
    position: relative;
    color: #03090e;
    margin: 200px auto 0;
    padding: 40px 25px 25px;
}

.login-box a {
    color: #03090e;
}


.login-box>button {
    position: absolute;
    right: 0;
    top: 0;
    background: #eb315a;
    font-size: 22px;
    color: #fff;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    border: none;
}

.login-box>button>svg {
    display: flex;
}

.login-box h2 {
    text-align: center;
    color: #03090e;
    margin-bottom: 20px;
}

.login-box h6 {
    color: #03090e;
    margin-top: 20px;
    margin-bottom: 12px;
}

.login-box input {
    background: transparent;
    border: 1px solid #ddd;
}

.login-remember {
    float: left;
}

.login-box form .theme-btn {
    width: 100%;
    border-radius: 0;
    color: #fff;
    text-align: center;
    margin-top: 15px;
}

.login-box form .theme-btn:hover:enabled {
    color: #eb315a;
}

.login-box form .theme-btn:disabled {
    cursor: not-allowed;
    background-color: #000;
    border: none;
}

.login-box form .theme-btn+span {
    margin: 22px 0;
    display: block;
}

.auth-button {
    transition: 0.6s;
}