*,
*::before,
*::after {
    box-sizing: border-box;
}

.sort-by-ul {
    display: inline;
}

.genre-select {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
}

.genre-label {
    align-self: center;
    margin-right: 5px;
}

select.genre-select option:hover {
    background-color: red;
}

.infinite-scroll {
    overflow: hidden
}